@model IEnumerable<NoNameBikes.Models.Product>

@{
    ViewData["Title"] = "Details";
    List<string> colours = new List<string>();
    List<string> sizes = new List<string>();
    List<string> productsNumbers = new List<string>();
    Product selectedProduct = Model.First();
    string name = selectedProduct.Name.Substring(0, selectedProduct.Name.IndexOf(" "));
    String color = selectedProduct.Color;

    foreach (var item in Model)
    {
        if (!sizes.Contains(item.Size))
            sizes.Add(item.Size);

        productsNumbers.Add(item.ProductNumber);
    }

}

<style>
    #grid {
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto auto auto;
        grid-template-areas:
            "pic name"
            "pic colours"
            "pic sizes"
            "pic prices";
        width: 1000px;
        grid-gap: 20px;
    }

    .productNum {
        grid-area: productNumber;
    }

    .colour {
        grid-area: colours;
    }

    .size {
        grid-area: sizes;
    }

    .price {
        grid-area: prices;
    }

    #namedesc {
        grid-area: name;
    }

    #pic {
        grid-area: pic;
    }

    img {
        width: 500px;
        height: 300px;
        border-style: solid;
        border-color: black;
        padding: 20px;
    }

    .sale {
        color: red;
        margin: 0px;
    }

    .SalePrice {
        font-weight: bold;
        padding-bottom: 5px;
        padding-left: 43px;
    }

    .discount {
        font-size: 15px;
        padding-left: 20px;
    }

    #price {
        margin-bottom: 0px;
    }
</style>

<br />
<br />
<div id="detail-grid">
    @{
        var base64 = Convert.ToBase64String(selectedProduct.ThumbNailPhoto);
        var imgSrc = string.Format("data:image/gif;base64,{0}", base64);
    }
    <div id="pic"><img class="img" src='@imgSrc' /></div>
    <div id="namedesc">
        <h3>@name</h3>
        <p>@ViewData["description"]</p>
        <hr />

        <form asp-action="AddToCart" asp-controller="Home">
            <div class="colour">
                <label>Color:</label>
                @color
            </div>

            @if (sizes.Count() != 0 && sizes.First() != null)
            {
                <div class="size">
                    <label for="sizes">Size:</label>
                    <select id="sizes" name="@nameof(selectedProduct.Size)">
                        @foreach (String size in sizes)
                        {
                            <option value="@size">@size</option>
                        }
                    </select>
                </div>
            }
            <div class="price">
                <label for="prices" id="price">Price:</label>
                @{
                    if (selectedProduct.SalePrice != null)
                    {
                        if (DateTime.Compare((DateTime)selectedProduct.SaleEndDate, DateTime.Now) > 0)
                        {
                            decimal discount = selectedProduct.ListPrice - (decimal)selectedProduct.SalePrice;
                            <strike>@Math.Round(selectedProduct.ListPrice, 2)$</strike> <label class="sale discount">-@discount.ToString().Substring(0, discount.ToString().Length - 2)$</label>

                            <p class="sale SalePrice">  @selectedProduct.SalePrice.ToString().Substring(0, selectedProduct.SalePrice.ToString().Length - 2)$</p>
                        }
                        else
                        {
                            <strong>$@Math.Round(selectedProduct.ListPrice, 2)</strong>
                        }

                    }
                    else
                    {
                        <strong>$@Math.Round(selectedProduct.ListPrice, 2)</strong>
                    }
                }
            </div>
            <input type="hidden" name="@nameof(selectedProduct.ProductModelId)" value="@selectedProduct.ProductModelId" />
            <br />
            <label for="Quantity">Quantity:</label>
            <input type="number" min="1" size="1" name="Quantity" value="1" />
            <input class="btn btn-primary" type="submit" value="Add To Cart" />
        </form>
</div>